
*{
    margin: 0;
    padding: 0;
    box-sizing: 10;
    font-family: "poppians",sans-serif;
}
/*section*/
section{
    
    padding: 80px;
}
/*cretaing banner are in css*/
.banner{
    position: relative;
    min-height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    background: url(images/t1.jpg);
    background-size: cover;
    background-position:right center ;    
}
.banner h2{ 
    font-size: 2.5em;
    color: #444;
    font-weight: 300;
    line-height:1.2em ;

}
.banner h2 span{
    font-size: 1.2em;
    color:#fff;
}.banner h3{   
    color:#fff;
    font-size: 1.5em;
    font-weight: 500;

} .btn{
    position: relative;
    background: #009e66;
    display: inline-block;
    color: #000;
    margin-top: 20px;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px ;
}
/**creating about me layout in css*/
.heading{
    width: 100%;
    text-align: center;
    padding: 100px;
    color:#111;
}.heading p{
    font-style:italic ;
    font-size: 14px;
} 
.heading h2{
    font-size: 3em;
    color: #009e66;
}

.content{
    display: flex;
    justify-content: space-between;
}
.contentBx{
    padding-left: 50px;
    text-align: justify;
}
.ProPic{
    width: 300px;
    height: 350px;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;

}
.contentBx h2{
    font-weight: 300;
    margin-bottom: 10px;
}
.heading.bottom{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.btn.round{
    border-radius: 50px;
}
.bt{
        margin-top: 20px;
}.w50{
    min-width: 25%;
}img{
    max-width: 100%;
}
/**creating logo*/

/**creating sticky header menu nav bar in css*/
header.sticky{
    background-color: #fff;
    padding: 20 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);

}
header.sticky .logo,
header.sticky ul li a
{
    color:#111;

}
/**creating new technology */

.skills{
	background: #121212;
	font: 12px normal Arial;
  font-family: "Raleway",Arial,Helvetica,sans-serif;
	color: rgb(133, 130, 130);


}
.heading1{
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-bottom: 5px;

}
.heading1 h1{
    color:#111;
  font-weight: normal;
  font-size: 40px;
	color:black;
  text-shadow: 1px 1px 5px #000, 0 0 10px #2187e7, 0 0 20px #2187e7;
	
}
.container h2 {
	font-size: 2.7em;
  font-weight: normal;
	padding: 10px 0 16px 0;
  margin: 0 0 30px;
	text-align:center;
	color:#2187e7;
  text-shadow: 1px 1px 5px #000, 0 0 10px #2187e7, 0 0 20px #2187e7;
  background:#000;
	border-radius:2px;
	border: 1px solid #2187e7;  
  box-shadow: 0px 0px 50px -8px #2187e7;
}
h2.plataformas {
  border: 1px solid #9ACD32;  
  box-shadow: 0px 0px 50px -8px #9ACD32;
  color: #9ACD32;
  text-shadow: 1px 1px 5px #000, 0 0 10px #9ACD32, 0 0 20px #9ACD32;
}

h2.programas {
  border: 1px solid #FF4500;  
  box-shadow: 0px 0px 50px -8px #FF4500;
  color: #FF4500;
  text-shadow: 1px 1px 5px #000, 0 0 10px #FF4500, 0 0 20px #FF4500;
}
 
.container {
	width: 90%;
  padding: 80px;
	margin: 0 auto; 
	overflow: hidden;
}

.col {
	width: 23%;
  margin: 0 5%;
  position: relative;
  float: left;
  font-size: 12px;
  line-height: 2em;
  padding: 5% 0;
} 
/*.col { width:101%; }*/
.skill { 
	list-style:none; 
	padding-top:30px;
}

.skill li { 
	margin-bottom:70px; 
	background:#030303; 
	height:6px; 
	border-radius:3px; 
	border-left:1px solid #111; 
	border-top:1px solid #111; 
	border-right:1px solid #333; 
	border-bottom:1px solid #333;  
}

.skill li em { 
	position:relative; 
  font-style: normal;
  font-size: 14px;
  text-align: center;
  color:black;
	top:-28px;
    text-shadow: 1px 1px 5px #000;
}

.blueline { 
	height: 3px; 
	margin: 2px 0; 
	background: #2187e7; 
	position: absolute;
	box-shadow: 0px 0px 10px 1px rgba(0,198,255,0.6);
}
.greenline { 
	height: 3px; 
	margin: 2px 0; 
	background: #9ACD32; 
	position: absolute;
	box-shadow: 0px 0px 10px 1px rgba(173, 255, 47,0.4);
}
.redline { 
	height: 3px; 
	margin: 2px 0; 
	background: #FF4500; 
	position: absolute;
	box-shadow: 0px 0px 10px 1px rgba(255, 69, 0,0.4);
}

.titulo      { opacity:1;  animation:titulo 3s ease-out;     }

/*programacion*/
.html        { width:90%;  animation:html 2s ease-out;       }
.css         { width:95%;  animation:css 2s ease-out;        }
.php         { width:70%;  animation:php 2s ease-out;        }
.javascript  { width:50%;  animation:javascript 2s ease-out; }
.jquery      { width:30%;  animation:jquery 2s ease-out;     }

/*plataforms*/
.wordpress   { width:80%;  animation:wordpress 2s ease-out;  }
.prestashop  { width:60%;  animation:prestashop 2s ease-out; }
.joomla      { width:40%;  animation:joomla 2s ease-out;     }
.blogger     { width:70%;  animation:blogger 2s ease-out;    }
.tridion      { width:60%;  animation:tridion 2s ease-out;     }

/*programas*/
.dreamweaver { width:90%;  animation:dreamweaver 2s ease-out;}
.illustrator { width:30%;  animation:illustrator 2s ease-out;}
.photoshop   { width:70%;  animation:photoshop 2s ease-out;  }
.premiere    { width:50%;  animation:premiere 2s ease-out;   }
.flash       { width:60%;  animation:flash 2s ease-out;      }


@keyframes titulo      { 0% { opacity:0; } 100% { opacity:1; }  }

/*programacion*/
@keyframes html        { 0% { width:0px; } 100% { width:90%; }  }
@keyframes css         { 0% { width:0px; } 100% { width:95%; }  }
@keyframes php         { 0% { width:0px; } 100% { width:70%; }  }
@keyframes javascript  { 0% { width:0px; } 100% { width:50%; }  }
@keyframes jquery      { 0% { width:0px; } 100% { width:30%; }  }

/*plataformas*/
@keyframes wordpress   { 0% { width:0px; } 100% { width:80%; }  }
@keyframes prestashop  { 0% { width:0px; } 100% { width:60%; }  }
@keyframes joomla      { 0% { width:0px; } 100% { width:40%; }  }
@keyframes blogger     { 0% { width:0px; } 100% { width:70%; }  }
@keyframes tridion      { 0% { width:0px; } 100% { width:60%; }  }

/*programas*/
@keyframes dreamweaver { 0% { width:0px; } 100% { width:90%; }  }
@keyframes illustrator { 0% { width:0px; } 100% { width:30%; }  }
@keyframes photoshop   { 0% { width:0px; } 100% { width:70%; }  }
@keyframes premiere    { 0% { width:0px; } 100% { width:50%; }  }
@keyframes flash       { 0% { width:0px; } 100% { width:60%; }  }

/*media queries*/
@media (max-width: 1200px){
  h2 {font-size:2.2em;}
}
@media (max-width: 980px){
  h2 {font-size:1.8em;}
}
@media (max-width: 767px){
  h2 {font-size:1.4em;}
}
@media (max-width: 580px){
  h2 {font-size:1.1em; padding:10px 0;}
}
@media (max-width: 480px){ 
  h2 {font-size:2.2em; padding: 10px 0 15px 0;}
  .col {width: 90%;}
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px 2px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 2;
    transition: 0.5s;

}
header .logo{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
  

}
header ul{
    position: relative;
    display: flex;
}
header ul li{
   list-style-type: none;
    position: relative;
}
header ul li a{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;

}